<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @ticket.customer.name %>
</p>

<p>
  <strong>Closed at:</strong>
  <%= @ticket.closed_at %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
