<!DOCTYPE html>
<html>
<head>
  <title>CustomerSupport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
	<%= button_to 'Logout', logout_path(@login), :method => :delete %>
<% end %>

<%= yield %>

</br>
<%= image_tag("logo_best.jpg", alt: "Best Image Logo", style: 'height:20%;width:20%;') %>

</body>
</html>
